@import "css_menu.css";

html { 
    height: 100%;
}

@media (min-aspect-ratio: 32/20){
    body {
        height:100%
        margin: 0;
        padding: 0;

        background-image: url("./images/background_min.png");
        background-color: rgb(28, 28, 28);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
    }

	#header {
		margin-top: 300px;
	}
		
	.title {
		font-family: 'Open Sans', sans-serif;
		color: white;
		font-size: 100%;
	}
}


@media (max-aspect-ratio: 321/200){
    body {
        height:100%
        margin: 0;
        padding: 0;

        background-image: url("./images/background_max.png");
        background-color: rgb( 28,  28,  28);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
    }
}

