html { height: 100%; }

body {
    height:100%
    margin: 0;
    padding: 0;
    background: url("./images/background.png");
    font-family: arial, helvetica, sans-serif;

    background-repeat: no-repeat;
    background-color: #8D8D8D;
    background-size: auto 100%;
    background-position: 100% 100%
}


.fa {
  padding: 8.5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover { 
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.fa-github {
  background: rgb(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  opacity: 0.3;
}

.fa-linkedin {
  background: rgb(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  opacity: 0.3;
}

.fa-file {
  background: rgb(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  opacity: 0.3;
}

.navbar-item-social a > img{
  background: rgb(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.navbar-item-social a > img:hover{
	opacity: 1.0;
	filter: alpha(opacity=100);
}

@media (min-width: 1001px) {
    
    #contenedor {
        
        margin-top:2%;
        margin-left:3%;
        margin-right:10%;
        margin-bottom:40px;
    }

    #navbar {
        display: block;
        height: 65px;

        background: #293440;

        border-radius: 10px 10px 10px 10px;
        z-index: 9;
        text-align: center;
    }

    #nav {
        float:left;

        display:inline-block;
        list-style-type: none;
        width:auto;
        margin: 0 auto;
        margin-left:30px;
        margin-right:50px;
        padding: 0;
        overflow: hidden;
        font-size:20px;

    }

    #nav > li {
        float: left;
        cursor: pointer
    }

    #nav > li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 20.9px;
        text-decoration: none
    }

    #nav >li a:hover { background-color: #52687F; }

    #nav li> ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
        display: none
    }


    #nav li:hover > ul { display: block; }


    #nav li > ul li {
        margin: 0;
        border-bottom: 1px solid #151515;
        color: #fff;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        background: #293440
    }


    #nav li > ul li:hover {
        background-color: #52687F;
        cursor: pointer

    }


    .navbar-item-social {
        position: relative;
        float: left;
        margin-bottom: 0 
    }


    .navbar-link-social {
        padding: 10px;
        line-height: 6rem; 
        color: rgb(119, 119, 119);
    }


    #nav-social {
        float:right;    

        display:inline-block;
        list-style-type: none;
        width:auto;
        margin: 0 auto;
        margin-left:2%;
        margin-right:20px;
        padding: 0;
        overflow: hidden;
        font-size:20px;

    }


    #contentBody {
        margin-left:3%;
        margin-right:10%;
    }
}
