html {
	height: 100%;
}

body {
    /*margin: 0;*/
    padding: 0;
    background: url("../images/background.png");
    font-family: arial, helvetica, sans-serif;

    background-repeat: no-repeat;
    background-color: #8D8D8D;
    background-size: auto 100%;
    background-position: 100% 100%
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 280px;

	background: rgb(255, 255, 255);
	border-radius: 10px 10px 10px 10px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;

	border-radius: 10px 10px 0px 0px;
}

div.desc {
	padding: 15px;
	text-align: center;
}
